.model-list-item-chkbox {
    float: right;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-top: 0;
    display: inline-block;
    label {
      color: black;
      opacity: 0;
      margin-left: 1px;
      font-weight: 900;
      font-size: 25px;
      position: relative;
      top: -8px;
      z-index: 1;
    }
    input[type="checkbox"]:checked ~ label {
      opacity: 1;
      color: green;
      margin-left: 0;
      font-weight: 900;
      font-size: 23px;
      position: relative;
      top: -31px;
      left: -1px;
      z-index: 1;

    }
    input {
      -ms-transform: scale(3); /* IE */
      -moz-transform: scale(3); /* FF */
      -webkit-transform: scale(3); /* Safari and Chrome */
      -o-transform: scale(3); /* Opera */
      transform: scale(3);
      opacity: 0;
      z-index:99;
      position: relative;
    }

    input:hover, label:hover {
      cursor: pointer;
    }
}
